@media (max-width: 680px) and (orientation: landscape) {
    .mobilecontrol {
        display: flex !important;
    }

    .gamescreen {
        height: 64vh !important;
        width: 56vw;
    }

    .start_screen {
        height: 64vh !important;
        width: 56vw;
    }

    h1 {
        font-size: 24px;
    }

    footer {
        width: 56vw;
        border-radius: 16px;
    }

    .footericon {
        height: 24px;
    }

    .startgamebtn {
        font-size: 16px;
        width: 120px;
        height: 30px;
        margin-top: 16px;
        font-family: "AbrilFatface-Regular";
        background-color: rgb(248, 217, 62);
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    .instruction {
        height: 64vh !important;
        width: 56vw;
    }

    .detailsinstruction p {
        font-size: 16px;
    }

    .mobileicon {
        height: 30px;
        width: 30px;
    }

    .close-btn {
        font-size: 16px;
        width: 80px;
        height: 30px;
        margin-top: 24px;
        font-family: "AbrilFatface-Regular";
        background-color: rgb(248, 217, 62);
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    .policy {
        display: none;
        justify-content: center;
        font-family: "AbrilFatface-Regular";
        font-size: 16px;
        overflow-y: auto;
        padding: 16px;
        height: 58vh !important;
        width: 51vw;
        background-color: rgb(220, 99, 12);
    }

    h4 {
        margin: 0;
    }

    .gameoverscreen {
        height: 64vh !important;
        width: 56vw;
    }

    .tryagainbtn {
        margin: 5px;
        font-family: "AbrilFatface-Regular";
        font-size: 16px;
        font-weight: 500;
        width: 120px;
        background-color: rgb(235, 159, 66);
        border-radius: 8px;
        cursor: pointer;
    }

    .startmenübtn {
        margin: 5px;
        font-family: "AbrilFatface-Regular";
        font-size: 16px;
        width: 120px;
        font-weight: 500;
        background-color: rgb(185, 110, 19);
        border-radius: 8px;
        cursor: pointer;
    }

    h2 {
        font-size: 32px;
    }

    .winningscreen {
        height: 64vh !important;
        width: 56vw;
    }

    .winkaktus {
        height: 150px;
        padding-left: 10px;
    }

    h3 {
        font-size: 30px;
        margin: 0;
    }

    .playagainbtn {
        margin: 10px;
        font-family: "AbrilFatface-Regular";
        font-size: 16px;
        width: 100px;
        background-color: rgb(222, 236, 23);
        border-radius: 8px;
    }

    .winstartmenübtn {
        margin: 10px;
        font-family: "AbrilFatface-Regular";
        font-size: 16px;
        width: 100px;
        background-color: rgb(235, 197, 7);
        border-radius: 8px;
    }


}

@media (max-width: 680px) and (orientation: portrait) {
    .orientation-warning {
        position: fixed;
        top: 0;
        left: 0;
        width: 550px !important;
        height: 100%;

    }
}

@media (min-width: 681px) and (max-width: 1024px) and (orientation: landscape) {
    .mobilecontrol {
        display: flex !important;
    }

    .policy {
        display: none;
        justify-content: center;
        font-family: "AbrilFatface-Regular";
        font-size: 24px;
        overflow-y: auto;
        padding: 16px;
        height: 388px;
        width: 688px;
        background-color: rgb(220, 99, 12);
    }

    .orientation-warning {
        position: fixed;
        top: 0;
        left: 0;
        width: 550px;
        height: 100%;

    }
}