body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "AbrilFatface-Regular";
    background-image: url(./img_pollo_locco/img/9_intro_outro_screens/bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;

}

@font-face {
    font-family: "AbrilFatface-Regular";
    src: url(./fonts/AbrilFatface-Regular.ttf);
}

canvas {
    background-color: black;
    display: block;
}

h2 {
    font-size: 64px;
}


.d-none {
    display: none;
}

.flex {
    display: flex;
}

.gameoverscreen {
    background-image: url("./img_pollo_locco/img/9_intro_outro_screens/gameover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 421px;
    width: 720px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gamescreen {
    display: block;
}

#fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;


}

.tryagainbtn {
    margin: 10px;
    font-family: "AbrilFatface-Regular";
    font-size: 24px;
    font-weight: 500;
    width: 200px;
    background-color: rgb(235, 159, 66);
    border-radius: 16px;
    cursor: pointer;
}

.startmenübtn {
    margin: 10px;
    font-family: "AbrilFatface-Regular";
    font-size: 24px;
    width: 200px;
    font-weight: 500;
    background-color: rgb(185, 110, 19);
    border-radius: 16px;
    cursor: pointer;
}

.winkaktus {
    height: 300px;
    padding-left: 20px;

}

h3 {
    font-size: 60px;
    color: rgb(244, 24, 35);
}

.winningscreen {
    background-image: url("./img_pollo_locco/img/9_intro_outro_screens/wincoins.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 421px;
    width: 720px;
    border: 2px solid black;
}

.playagainbtn {
    margin: 10px;
    font-family: "AbrilFatface-Regular";
    font-size: 24px;
    width: 200px;
    font-weight: 500;
    background-color: rgb(222, 236, 23);
    border-radius: 16px;
    cursor: pointer;
}

.winstartmenübtn {
    margin: 10px;
    font-family: "AbrilFatface-Regular";
    font-size: 24px;
    width: 200px;
    font-weight: 500;
    background-color: rgb(235, 197, 7);
    border-radius: 16px;
    cursor: pointer;
}

.start_screen {
    background-image: url("./img_pollo_locco/img/9_intro_outro_screens/start/startscreen_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 421px;
    width: 720px;
}

.startgamebtn {
    font-size: 24px;
    width: 200px;
    height: 40px;
    margin-top: 32px;
    font-family: "AbrilFatface-Regular";
    background-color: rgb(248, 217, 62);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.mobilecontrol {
    height: 200px;
    width: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 16px;
    margin: 24px;
    background-color: lightgoldenrodyellow;
}

.mobileicon {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.left {
    left: 25px;
}

.orientation-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 768px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 44px;
    z-index: 9999;
    display: none;
}

.orientation-warning p {
    padding: 40px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 720px;
    height: 50px;
    background-color: rgb(153, 68, 9);
    ;
}

.footericon {
    height: 32px;
    cursor: pointer;
}

.instruction {
    display: none;
    justify-content: space-around;
    height: 421px;
    width: 720px;
    background-color: rgb(220, 99, 12);
}

.close-btn {
    font-size: 24px;
    width: 200px;
    height: 40px;
    margin-top: 32px;
    font-family: "AbrilFatface-Regular";
    background-color: rgb(248, 217, 62);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.insticons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.detailsinstruction {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.detailsinstruction p {
    margin: 0px;
    font-size: 28px;
}

.policy {
    display: none;
    justify-content: center;
    font-family: "AbrilFatface-Regular";
    font-size: 24px;
    overflow-y: auto;
    padding: 16px;
    height: 421px;
    width: 688px;
    background-color: rgb(220, 99, 12);
}

h4 {
    font-size: 40px;
}

.closepolicy {
    display: flex;
    justify-content: flex-end;
}

/* Gesamte Scrollleiste */
::-webkit-scrollbar {
    width: 10px;
    /* Breite des Scrollbalkens */
    background-color: #f1f1f1;
    /* Hintergrundfarbe der Scrollleiste */
}

/* Schieberegler (Thumb) */
::-webkit-scrollbar-thumb {
    background-color: #ff6f00;
    /* Farbe des Schiebereglers */
    border-radius: 5px;
    /* Abgerundete Ecken */
    border: 2px solid black;
    /* Rand um den Schieberegler */
}

/* Beim Hover über den Schieberegler */
::-webkit-scrollbar-thumb:hover {
    background-color: #e65100;
    /* Dunklere Farbe beim Hover */
}

/* Bereich unterhalb des Schiebereglers */
::-webkit-scrollbar-track {
    background-color: #d27a07;
    /* Farbe des Tracks */
    border-radius: 1px;
    /* Abgerundete Ecken */
}

#impressum::-webkit-scrollbar {
    width: 10px;
}

#impressum::-webkit-scrollbar-thumb {
    background-color: #904206;
}